@model IEnumerable<exemploasp.Models.Marcacao>

@{
    ViewBag.Title = "Index";
}

@{
    if (Model.Count(m => m.Data >= DateTime.Today) != 0)
    {
        <h3>Visitas guiadas a realizar</h3>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Exposicao.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeRequerente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Idade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumTelefoneRequerente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoraDeInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoraDeFim)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumPessoas)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.Data >= DateTime.Today)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Exposicao.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeRequerente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Idade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumTelefoneRequerente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoraDeInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoraDeFim)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumPessoas)
                        </td>
                    </tr>

                }

            }

        </table>
    }
    else
    {
        <h4>Não tem visitas guiadas a realizar</h4>
    }
}

<hr />



<div class="container">
    <h2>Agenda</h2>
    <hr />
    <div class="agenda">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Evento</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Single event in a single day -->
                    <tr>
                        <td class="agenda-date" class="active" rowspan="1">
                            <div class="dayofmonth">26</div>
                            <div class="dayofweek">Saturday</div>
                            <div class="shortdate text-muted">July, 2014</div>
                        </td>
                        <td class="agenda-time">
                            5:30 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i>
                                Fishing
                            </div>
                        </td>
                    </tr>

                    <!-- Multiple events in a single day (note the rowspan) -->
                    <tr>
                        <td class="agenda-date" class="active" rowspan="3">
                            <div class="dayofmonth">24</div>
                            <div class="dayofweek">Thursday</div>
                            <div class="shortdate text-muted">July, 2014</div>
                        </td>
                        <td class="agenda-time">
                            8:00 - 9:00 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                Doctor's Appointment
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            10:15 AM - 12:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                Meeting with executives
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            7:00 - 9:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                Aria's dance recital
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>