@using System.Globalization
@using exemploasp.Models
@model IEnumerable<exemploasp.Models.Marcacao>

@{
    ViewBag.Title = "Index";
    var culture = new System.Globalization.CultureInfo("pt-PT");
}

<link rel="stylesheet" href="/Content/css/agenda.css" media="screen" type="text/css" />

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">	
@{

    if (Model.Count(m => m.Data >= DateTime.Today) != 0)
    {
        <div class="container">
            @foreach (var item in Model)
            {
                if (item.Data >= DateTime.Today)
                {
                    <div class="row row-striped">
                        <div class="col-md-1 text-right">
                            <h1 class="display-4"><span class="label label-default">@item.Data.Day</span>
                            </h1>
                            <h2>@item.Data.ToString("MMM", CultureInfo.CreateSpecificCulture("pt")).ToUpper()</h2>
                        </div>
                        <div class="col-10">
                            <h3 class="text-uppercase"><strong>@item.Exposicao.Nome</strong>
                            </h3>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> @culture.DateTimeFormat.GetDayName(item.Data.DayOfWeek)</li>
                                <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> @item.HoraDeInicio.ToShortTimeString() - @item.HoraDeFim.ToShortTimeString()</li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item"><text data-placement="top" data-toggle="tooltip" title="Nome do requerente"><i class="glyphicon glyphicon-user" aria-hidden="true"></i> @item.NomeRequerente</text></li>
                                <li class="list-inline-item"><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> @item.NumTelefoneRequerente</li>
                                <li class="list-inline-item"><text data-placement="top" data-toggle="tooltip" title="Número de pessoas"><i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i> @item.NumPessoas</text></li>
                            </ul>
                            <ul class="list-inline">
                                @foreach (Tema tema in item.Exposicao.Temas)
                                {
                                    <i>#@tema.Nome </i>
                                }
                            </ul>
                        </div>
                    </div>
                }
            }
                </div>
    }
    else
    {
        <h4>Não está associado a nenhuma marcação</h4>
    }
}