@model IEnumerable<exemploasp.Models.Marcacao>

@{
    ViewBag.Title = "Index";
}

@{
    if (Model.Count(m => m.Data >= DateTime.Today) != 0)
    {
        <h3>Visitas guiadas a realizar</h3>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Exposicao.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeRequerente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Idade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumTelefoneRequerente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoraDeInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoraDeFim)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumPessoas)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.Data >= DateTime.Today)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Exposicao.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeRequerente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Idade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumTelefoneRequerente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoraDeInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoraDeFim)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumPessoas)
                        </td>
                    </tr>

                }

            }

        </table>
    }
    else
    {
        <h4>Não tem visitas guiadas a realizar</h4>
    }
}

<link rel="stylesheet" href="/Content/css/agenda.css" media="screen" type="text/css" />

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">	
	
<div class="container">
    <div class="row row-striped">
        <div class="col-md-1 text-right">
            <h1 class="display-4"><span class="label label-default">23</span></h1>
            <h2>OCT</h2>
        </div>
        <div class="col-10">
            <h3 class="text-uppercase"><strong>Ice Cream Social</strong></h3>
            <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
                <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
                <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Cafe</li>
            </ul>
            <p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</div>