@model IEnumerable<exemploasp.Models.UserAccount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Register")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Morada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumTelefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoUtilizadorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumTelefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoUtilizador.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.UserAccountID })
            </td>
        </tr>
    }

</table>

<br/><hr/>
     <div>
         <a href="@Url.Action("Index", "TipoUtilizador")" class="btn btn-warning btn-md">
             <span class="glyphicon glyphicon-user"></span> Gestão de tipo de utilizador
         </a>
     </div>
