@using exemploasp.Models

@{
    ViewBag.Title = "PerfilUser";
}

<h2>Perfil</h2>

@{
    var utilizador = (UserAccount) ViewData["Utilizador"];
}

<h1>Utilizador</h1>
<h3>Nome: @utilizador.Nome</h3>
<h3>Idade: @utilizador.Idade</h3>
<h3>Morada: @utilizador.Morada</h3>
<h3>Telefone: @utilizador.NumTelefone</h3>
<h3>Password: @utilizador.Password</h3>

