@using exemploasp.Models
@model exemploasp.Models.UserAccount
 
@{
    ViewBag.Title = "PerfilUser";
}

<h2>Perfil de Utilizador</h2>
<h5 style="color: red">@ViewBag.Message</h5>
<p>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</p>

<hr/>


<div class="container">
    <div class="row">
        <div class="col-sm-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayFor(model => model.Nome) </h3>
                    
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.Idade):</th>
                                        <td>@Html.DisplayFor(model => model.Idade)</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.Email):</th>
                                        <td>@Html.DisplayFor(model => model.Email)</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.Morada):</th>
                                        <td>@Html.DisplayFor(model => model.Morada)</td>
                                    </tr>

                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.Sexo):</th>
                                        <td>@Html.DisplayFor(model => model.Sexo)</td>
                                    </tr>

                                  <tr>
                                      <th>@Html.DisplayNameFor(model => model.NumTelefone):</th>
                                      <td>
                                          @Html.DisplayFor(model => model.NumTelefone)
                                      </td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.TipoUtilizadorID)</th>
                                    <td>@Html.DisplayFor(model => model.TipoUtilizadorID)</td>
                                </tr>        
                                    
                            </tbody>
                            </table>

                            <a href="@Url.Action("Create", "Marcacao")" class="btn btn-primary">As Minhas Exposições</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-6">
            
            <h3> Os meus temas</h3>
            <hr/>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        @Html.HiddenFor(model => model.UserAccountID)

                        <div class="form-group">
                       
                            <table>
                                <tr>
                                @{
                                    int cnt = 0;
                                    List<exemploasp.ViewModels.AssignedTemaData> temas = ViewBag.Temas;

                                    foreach (var tema in temas)
                                    {
                                        if (cnt++ % 3 == 0)
                                        {
                                            @:</tr><tr>
                                        }
                                        @:<td>
                                        <input type="checkbox" name="selectedTemas" value="@tema.TemaID"
                                               @(Html.Raw(tema.Assigned ? "checked=\"checked\"" : ""))/>
                                        @tema.TemaID
                                        @: @tema.Nome
                                        @:</td>
                                    }
                                    @:</tr>
                                }
                            </table>
                       
                        </div>
                        <div class="form-group">
                       
                            <input type="submit" value="Dominar temas" class="btn btn-default"/>
                    
                        </div>

                    </div>
                   
                    }
            
            <h3> As Minhas Exposições</h3>
            
            
            
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    @{

                    <tr>
                        <th>Exposição</th>
                        <th>Data Inicial</th>
                        <th>Data Final</th>
                        <th>Duração</th>
                        <th>Disponibilidade</th>
                    </tr>


                        foreach (var data in Model.UserAccountExposicaos)
                        {
                        if (data.Assigned == 4)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelData => data.Exposicao.Nome)</td>
                                <td>@Html.DisplayFor(modelData => data.Exposicao.DataInicial)</td>
                                <td>@Html.DisplayFor(modelData => data.Exposicao.DataFinal)</td>
                                <td>@Html.DisplayFor(modelData => data.Exposicao.Duracao)</td>

                                <td style="text-align: center">
                                    <p data-placement="top" data-toggle="tooltip" title="Definir disponibilidade">
                                        <a href=" @Url.Action("#", new {id = data.ExposicaoID}) " class="btn btn-info btn-sm">
                                            <span class="	glyphicon glyphicon-calendar"></span>
                                        </a>
                                    </p>
                                </td>
                            </tr>

                        }

                    }
                }
                </table>
                
            </div>
         
               
        </div>
    </div>
</div>


 
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
