@using exemploasp.Models
@model IEnumerable<exemploasp.Models.UserAccountExposicao>
@{
    ViewBag.Title = "Candidatura";
}

<link rel="stylesheet" href="/Content/css/teste.css" media="screen" type="text/css" />
<div class="container">
    <div class="row">



        @{
        if (ViewBag.Exposicoes != null)
        {
            <div class="col-md-5 listing-block">
        
                <h3>Lista de Exposições que pode candidatar-se: </h3>
                @foreach (Exposicao exposicao in ViewBag.Exposicoes)
            {
                <div class="media">
                    <div class="botao">


                        @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("UserID", (string)ViewBag.UserID)
                        @Html.Hidden("ExposicaoID", exposicao.ExposicaoID)

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Candidatar" class="btn btn-success btn-sm" />
                            </div>
                        </div>
                }
                    </div>


                    <div class="media-body">
                        <div class="titulo">
                            @exposicao.Nome
                            <small> Duração: @exposicao.Duracao.TimeOfDay.ToString()</small>
                        </div>

                        <div class="datas">
                            <span><i class="glyphicon glyphicon-calendar"></i><b>De: </b>@exposicao.DataInicial.ToShortDateString()</span>
                            <span><i class="glyphicon glyphicon-calendar"></i><b>Até: </b>@exposicao.DataFinal.ToShortDateString()</span>
                        </div>

                        <div class="address">
                            <div class="col-sm-8">
                                @{
                                foreach (Tema tema in exposicao.Temas)
                                {
                                    <i>#@tema.Nome</i>

                            }

                                }
                            </div>

                        </div>

                    </div>

                </div>
        }

            </div>


    }
    else
    {
        <h4>Não existem exposições que se possa candidatar</h4>
}
        }
        @{
            if (Model.Any())
            {
        <div class="col-md-7 listing-block">
            <table><tr><th>&nbsp;</th></tr></table>
            @{
                <table class="table">
                    <tr>
                        <th>
                            Exposição
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InformacaoExtra)
                        </th>
                    </tr>
                    @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Exposicao.Nome)
                    </td>

                    @if (item.Assigned == 1)
            {
                <td>
                    <text><i class="glyphicon glyphicon-remove-sign" style="color: red"></i> Rejeitada</text>
                </td>
    }
    else if (item.Assigned == 2)
    {
        <td> <text><i class="glyphicon glyphicon-circle-arrow-right" style="color: green"></i> Submetido</text> </td>
}
else if (item.Assigned == 3 && item.InformacaoExtra == null)
{

using (Html.BeginForm("ExtraInfo", "UserAccountExposicao"))
{
        <td><i class="glyphicon glyphicon-info-sign" style="color: darkorange"></i> Necessário informação</td>
        <td>
            @Html.AntiForgeryToken()
            @Html.Hidden("UserID", (string)ViewBag.UserID)
            @Html.Hidden("ExposicaoID", item.ExposicaoID)
            @Html.TextArea("InformacaoExtra")
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Enviar Informação" class="btn btn-default" />
                </div>
            </div>
        </td>
}
}
else if (item.Assigned == 3 && item.InformacaoExtra != null)
{
        <td><text><i class="glyphicon glyphicon-info-sign" style="color: green"></i> Submetido com informação adicional</text></td>
        <td>@item.InformacaoExtra</td>
}
                </tr>
    }
                </table>

            }
        </div>  
            }
            else
            {
                <h4>Não há candidaturas pendentes</h4>
            }
        }
            

    </div>
</div>
    @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }