@model IEnumerable<exemploasp.Models.UserAccountExposicao>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("UserID", (string)ViewBag.UserID)

    <div class="form-group">
        <label class="control-label col-md-2" for="ExposicaoID">Exposição</label>
        <div class="col-md-10">
            @Html.DropDownList("ExposicaoID", String.Empty)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Candidatar" class="btn btn-default" />
        </div>
    </div>
}
<br><hr>
<h4>Candidaturas à espera de verificação</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Exposicao.Nome)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Assigned == 2)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Exposicao.Nome)
                </td>
            </tr>
        }
    }

</table>

<br><hr>
<h4>Candidaturas à espera de informação adicional</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Exposicao.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InformacaoExtra)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Assigned == 3)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Exposicao.Nome)
        </td>
        <td>
            @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("UserID", (string)ViewBag.UserID)
        @Html.HiddenFor(modelItem => item.ExposicaoID)
        @Html.EditorFor(modelItem => item.InformacaoExtra)
}
        </td>
    </tr>
        }
    }

</table>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}