@using System.Web.Razor.Generator
@model IEnumerable<exemploasp.Models.Disponibilidade>

@{
    ViewBag.Title = "Ver";
}
@{
    var culture = new System.Globalization.CultureInfo("pt-PT");
}
<h2>Disponibilidade da exposicao: @ViewBag.NomeExposicao</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataDisponibilidade)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataDisponibilidade)
                @culture.DateTimeFormat.GetDayName(item.DataDisponibilidade.DayOfWeek)
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Voltar atrás", "PerfilUser", "Account")
</div>
