@using System.Runtime.Remoting.Messaging
@model IEnumerable<exemploasp.Models.Tema>

@{
    ViewBag.Title = "Index";
}


<body>

<h5 style="color: red">@ViewBag.Message</h5>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.TemaID }) |
                @Html.ActionLink("Details", "Details", new { id=item.TemaID }) |
                <p onClick="say_hi(@item.TemaID)">Delete</p>
            </td>
        </tr>
    }

</table>
    

        <script type="text/javaScript">
            function say_hi(idt) {
                var hi= confirm("Quer mesmo apagar este tema?");
                if (hi == true) {
                    window.location.href = "/Tema/Delete/"+idt;
                }
            }
        </script>

       

</body>
