
@model IEnumerable<exemploasp.Models.Tema>

@{
    ViewBag.Title = "Temas";
}

<link rel="stylesheet" href="/Content/css/app.css" media="screen" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

<div class="container">
    <div class="row">
    <h2>Temas</h2>
    <hr/>

    <h4 class="message">@ViewBag.Message</h4>



    @{
        if (Model.Any())
        {
            <a href="@Url.Action("Create", "Tema")" class="btn btn-success btn-md">
                <span class="glyphicon glyphicon-plus"></span> Adicionar Tema
            </a>
            <h4></h4>


            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-striped">

                        <tr>


                            <th>@Html.DisplayNameFor(model => model.Nome)</th>
                            <th>@Html.DisplayNameFor(model => model.Descricao)</th>
                            <th>Eliminar</th>

                        </tr>



                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                                <td>
                                    <p data-placement="top" data-toggle="tooltip" title="Eliminar">


                                        <a onclick="say_hi(@item.TemaID)" href="#" class="btn btn-danger btn-sm"> <span class="glyphicon glyphicon-trash"> </span> </a>
                                    </p>
                                </td>
                            </tr>

                        }
                    </table>

                </div>
            </div>
        }
        else
        {
            <h1>Ainda não existem temas.</h1>
            <h4><a href="@Url.Action("Create", "Tema")">Adicionar Novo Tema</a></h4>
        }
    }
    <script type="text/javaScript">
        function say_hi(idt) {
            var hi = confirm("Quer mesmo apagar este tema?");
            if (hi == true) {
                window.location.href = "/Tema/Delete/" + idt;
            }
        }
    </script>
</div>


</div>

