@model IEnumerable<exemploasp.Models.Exposicao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duracao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NrItens)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duracao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrItens)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ExposicaoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ExposicaoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ExposicaoID })
        </td>
    </tr>
}

</table>
