@model IEnumerable<exemploasp.Models.Exposicao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h5 style="color: red">@ViewBag.Message</h5>
<p>
    @Html.ActionLink("Adicionar exposição", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duracao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NrItens)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrItens)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit",new { id=item.ExposicaoID }) |
                <p onClick="say_hi(@item.ExposicaoID)"><a href="#">Delete</a></p>
            </td>
        </tr>
    }

</table>


<script type="text/javaScript">
    function say_hi(idt) {
        var hi= confirm("Quer mesmo apagar esta exposição?");
        if (hi == true) {
            window.location.href = "/Exposicao/Delete/"+idt;
        }
    }
</script>
