@model IEnumerable<exemploasp.Models.TipoUtilizador>

@{
    ViewBag.Title = "Gestão de Utilizadores";
}

<link rel="stylesheet" href="/Content/css/app.css" media="screen" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

<div class="container">
    <div class="row">
    <h2>Gestão de Utilizadores</h2>
    <hr />




    <a href="@Url.Action("Create", "TipoUtilizador")" class="btn btn-success btn-md">
        <span class="glyphicon glyphicon-plus"></span> Adicionar Função
    </a>
    <a href="@Url.Action("Funcao", "Account")" class="btn btn-warning btn-md">
        <span class="glyphicon glyphicon-edit"></span> Alterar Função de um utilizador
    </a>
    <h4 class="message">@ViewBag.Message</h4>

 

        @{
            if (Model.Any())
            {


                <div class="col-md-12">
                    <div class="table-responsive">
                        <table id="mytable" class="table table-bordred table-striped">

                            <tr>


                                <th>@Html.DisplayNameFor(model => model.Tipo)</th>
                                <th>Eliminar</th>

                            </tr>



                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Tipo)</td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Eliminar">
                                            <a onclick="say_hi(@item.TipoUtilizadorID)" href="#" class="btn btn-danger btn-sm"> <span class="glyphicon glyphicon-trash"> </span> </a>
                                        </p>
                                    </td>
                                </tr>

                            }
                        </table>

                    </div>
                </div>
            }
            else
            {
                <h1>Ainda não existem Tipos de Utilizador.</h1>
                <h4><a href="@Url.Action("Create", "TipoUtilizador")">Adicionar Novo Tipo de Utilizador</a></h4>
            }
        }

        <script type="text/javaScript">
            function say_hi(idt) {
                var hi = confirm("Quer mesmo apagar este tema?");
                if (hi == true) {
                    window.location.href = "/TipoUtilizador/Delete/" + idt;
                }
            }
        </script>
    </div>


</div>