@model IEnumerable<exemploasp.Models.Marcacao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeRequerente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumTelefoneRequerente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraDeInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraDeFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumPessoas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeRequerente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Idade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumTelefoneRequerente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraDeInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraDeFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumPessoas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MarcacaoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MarcacaoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MarcacaoID })
        </td>
    </tr>
}

</table>
