
@model IEnumerable<exemploasp.Models.Marcacao>

@{
    ViewBag.Title = "Marcações";
}

<h2>Marcações</h2>

<hr />
<link rel="stylesheet" href="/Content/css/app.css" media="screen" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<div class="container">
   
    <h4 class="message">@ViewBag.Message</h4>

    <div class="row">

        @{
            if (Model.Any())
            {

                <a href="@Url.Action("Create", "Marcacao")" class="btn btn-success btn-md">
                    <span class="glyphicon glyphicon-plus"></span> Adicionar Marcação
                </a>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table id="mytable" class="table table-bordred table-striped">

                            <tr>
                                <th>@Html.DisplayNameFor(model => model.UserAccount.Nome)</th>
                                <th>@Html.DisplayNameFor(model => model.Exposicao.Nome)</th>
                                <th>@Html.DisplayNameFor(model => model.NomeRequerente)</th>
                                <th>@Html.DisplayNameFor(model => model.Idade)</th>
                                <th>@Html.DisplayNameFor(model => model.NumTelefoneRequerente)</th>
                                <th>@Html.DisplayNameFor(model => model.Data)</th>
                                <th>@Html.DisplayNameFor(model => model.HoraDeInicio)</th>
                                <th>@Html.DisplayNameFor(model => model.HoraDeFim)</th>
                                <th>@Html.DisplayNameFor(model => model.NumPessoas)</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                                <th></th>
                                <th></th>

                            </tr>



                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.UserAccount.Nome)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Exposicao.Nome)</td>
                                    <td>@Html.DisplayFor(modelItem => item.NomeRequerente)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Idade)</td>
                                    <td>@Html.DisplayFor(modelItem => item.NumTelefoneRequerente)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Data)</td>
                                    <td>@Html.DisplayFor(modelItem => item.HoraDeInicio)</td>
                                    <td>@Html.DisplayFor(modelItem => item.HoraDeFim)</td>
                                    <td>@Html.DisplayFor(modelItem => item.NumPessoas)</td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Editar">
                                            <a href=" @Url.Action("Edit", new {id = item.ExposicaoID}) " class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
                                        </p>
                                    </td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Eliminar">


                                            <a onclick="say_hi(@item.MarcacaoID)" href="#" class="btn btn-danger btn-sm"> <span class="glyphicon glyphicon-trash"> </span> </a>
                                        </p>
                                    </td>
                                </tr>

                            }
                        </table>

                    </div>
                </div>


            }
            else
            {

                <h1>Ainda não existem marcações.</h1>
                <h4><a href="@Url.Action("Create", "Marcacao")">Adicionar Nova Marcação</a></h4>

            }


        }

        <script type="text/javaScript">
            function say_hi(idt) {
                var hi = confirm("Quer mesmo apagar esta exposição?");
                if (hi == true) {
                    window.location.href = "/Marcacao/Delete/" + idt;
                }
            }
        </script>
    </div>
    
</div>
